<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-eidth, initial-scale=1.0">
        <title>DO YOU WANT TO SEE CURRENT OR CONTINUOUS PRICE</title>
    </head>
    <body>
        <form action = "/usdjpy/current" method="POST">
            <input type="submit" value="CURRENT">
        </form>
        <form action = "/usdjpy/continuous" method="POST">
            <input type="submit" value="CONTINUOUS">
        </form>
    </body>
</html>