<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ symbol.upper() }} Live</title>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    </head>
    <body>
        <p id="status">CONNECTING TO SERVER</p>
        <p id="bid">Bid: ...</p>
        <p id="ask">Ask: ...</p>

        <button onclick="disconnect()">Disconnect</button>

        <script>
            const symbol = "{{ symbol }}";
            const socket = io();

            socket.emit("subscribe", { symbol: symbol});
            document.getElementById("status").textContent = "CONNECTED TO SERVER"

            socket.on("quote_update", function(data){
                if (data.symbol === symbol){
                    document.getElementById("bid").textContent = "Bid: " + data.bid;
                    document.getElementById("ask").textContent = "Ask: " + data.ask;
                }
            });

            function disconnect(){
                document.getElementById("status").textContent = "Disconnecting"
                socket.disconnect()
                document.getElementById("status").textContent = "Disconnected"

            }
        </script>
    </body>
</html>