<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-eidth, initial-scale=1.0">
        <title>SUBSCRIBE TO ONE BELOW TO SEE THEIR PRICES</title>
    </head>
    <body>
        <form action = "/eurusd" method="POST">
            <input type="submit" value = "EURUSD">
        </form>
        <form action = "/usdjpy" method="POST">
            <input type="submit" value = "USDJPY">
        </form>
        <form action = "/btcusd" method="POST">
            <input type="submit" value = "BTCUSD">
        </form>
    </body>
</html>